html
    head
        title= 'Error'
    body
        div(style='margin: 50px 100px')
            form(action='http://127.0.0.1:8080')
                input(type='submit' value='Return')
            p= errorMessage