.info-box {
  margin: 30px auto;
}

ul {
  list-style: none;
}

.mounts {
  margin-bottom: 10px;
}

.element-title {
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
}

p {
  display: inline-block;
}
