.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
}

.idle-row {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.status-p {
    display: inline;
    margin: 0 15px 0 0;
}

.table-row {
    height: 45vh;
    overflow: auto;
}

.log-td {
    max-width: 100px;
}

.row {
    margin: 0;
}

.col-ops {
    border-right: 2px solid #ddd;
    height: 100%;
}

label {
    font-weight: normal;
}

.col-title {
    font-weight: bold;
}

.button-div {
    margin-top: 15px;
    text-align: center;
}

.invisible {
    display: none;
}

.row-list {
    overflow: auto;
    max-height: 230px;
}

.logs-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column-reverse;
}

@media (max-width: 600px) {
    h1 {
        text-align: center;
    }

    .logs-list {
        max-height: 100%;
    }

    .table-row {
        height: 100%;
    }

    .btn-run {
        text-align: center;
    }

    .col-ops {
        border: none;
        height: auto;
    }
}

